{% extends 'base.html' %}
{% block title %} Admin-Employee-Edit {% endblock %}
{% block content %}

<body>
    <div style="display:flex;justify-content:space-between">
        <a href="{{url_for('admin_page')}}" class="btn btn-secondary" style="display: inline-block;"><i class="bi bi-arrow-left-circle-fill"></i></a> 
        <h1 class="text-center" style="padding:10px">Edit The Employee Details</h1>
        <p></p>
    </div>
    <div class="container" style="margin-bottom:20px">
        <div class="center-container">
        <form method="POST" class="form-register" style="color: black; background-color: #f9f9f9; padding: 20px; border-radius: 10px; width:60%;">
            {{ form.hidden_tag() }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 

            <div class="col-md-12" style="padding: 10px;">
                {{form.first_name.label(class="left-label")}}
                {{ form.first_name(class="form-control", value = employee.first_name)}}
            </div>
            <div class="col-md-12" style="padding: 10px;">
                {{form.last_name.label(class="left-label")}}
                {{ form.last_name(class="form-control", value = employee.last_name )}}
            </div>
            <div class="col-md-12" style="padding: 10px;">
                {{form.email_address.label(class="left-label")}}
                {{ form.email_address(class="form-control", value = employee.email_address )}}
            </div>
            <div class="col-md-12" style="padding: 10px;">
                {{form.address.label(class="left-label")}}
                {{ form.address(class="form-control", value = employee.address)}}
            </div>
            <div class="col-md-12" style="padding: 10px;">
                {{form.DOB.label(class="left-label")}}
                {{ form.DOB(class="form-control", value = employee.DOB)}}
            </div>
            <div class="col-md-12" style="padding: 10px;">
                {{form.phone_number.label(class="left-label")}}
                {{ form.phone_number(class="form-control", value = employee.phone_number)}}

            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-lg btn-block btn-primary",style="width:100%;")}}
            </div>
        </form>
    </div>
</div>
</body>
<style>
    .left-label {
        text-align: left;
    }
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn{
        padding-top:10px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:0px;
        margin:10px;
        size:10px
    }
</style>


{% endblock %}